input{
	border: 0px;
	height: 50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	display: block;
}

input[readonly]{
	color: #aaa;
	background: #eee;
	cursor: not-allowed;
}

tr:hover input:not([readonly]){
	background: #fee;
}

table{
	border-collapse: collapse;
}

td{
	border: 1px solid #ccc;
}

td:nth-child(3n):not(:last-child){
	border-right: 3px solid #ccc;
}

tr:nth-child(3n):not(:last-child){
	border-bottom: 3px solid #ccc
}
